{% extends 'base.html' %}
{% load static %}

{% block title %} List of students {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Profile</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Active</th>
                        <th>Gender</th>
                        <th>Created at</th>
                        <th>Name of trainer</th>
                        <th>Name of course</th>
                        <th>Name of department</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in all_students %}
                        <tr>
                            <td>
                                {% if student.profile %}
                                    <img src="{{ student.profile.url }}" width="30" height="30" alt="profile">
                                {% else %}
                                    <img src="{% static 'images/default_student_img.png' %}" width="30" height="30"
                                         alt="default-image">
                                {% endif %}
                            </td>
                            <td>{{ student.first_name }}</td>
                            <td>{{ student.last_name }}</td>
                            <td>{{ student.age }}</td>
                            <td>{{ student.start_date|date:"d-m-Y" }}</td>
                            <td>
                                {% if student.active %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                            <td>{{ student.gender|title }}</td>
                            {# title, upper, lower #}
                            <td>{{ student.created_at|date:"d-m-Y H:i:s" }}</td>
                            <td>
                                {% if student.trainer %}
                                    {{ student.trainer }}
                                {% else %}
                                    No trainer
                                {% endif %}
                            </td>
                            <td>
                                {% if student.trainer.course %}
                                    {{ student.trainer.course }}
                                {% else %}
                                    No course
                                {% endif %}
                            </td>
                            <td>
                                {% if student.trainer.department %}
                                    {{ student.trainer.department }}
                                {% else %}
                                    No department
                                {% endif %}
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        More Actions
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"
                                               href="{% url 'update-student' student.id %}">Update</a></li>
                                        <li><a class="dropdown-item"
                                               href="{% url 'delete-student' student.id %}">Delete</a></li>
                                        <li><a class="dropdown-item" href="{% url 'details-student' student.id %}">View
                                            Details</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}